#sidebar ul li.active > div > a {
  background: none; /* Disable white bg for active parent menu item */
  padding-left: 0; /* No left padding for active menu items */
}

#sidebar ul li div a {
  white-space: normal; /* No ellipsis for title overflow */
}

#sidebar .topics i {
    margin-right: .25rem;
}

footer #tags {
  margin-top: auto;
}

/* For mobile phones and tablets */
.compliance-panel {
  width: 100%;
  float: none;
}

/* For desktop */
@media only screen and (min-width: 992px) {
  .compliance-panel {
    margin-left: 1rem;
    width: 40%;
    float: right;
  }
}

.compliance-panel .panel-heading h2 {
    font-size: 22px;
    color: #fff;
    margin: 0;
}

h2 {
    font-family: 'Novacento Sans Wide', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
    font-weight: 400;
}

.compliance-panel p {
    margin: 1rem 0 .5rem;
}

.compliance-panel ul {
    margin: .25rem 0 .5rem;
}

.panel .progress {
  position: relative;
  background-color: rgba(247, 247, 247, 0.97);
  width: 100%;
  border: thin solid #ececec;
  display: block !important;
  opacity: 1 !important;
  z-index: 200;
  height: 20px;
}

@keyframes updateWidth100 {
  0% { width: 0; }
  50% { width: 0; }
  100%   { width: 100%; }
}

@keyframes updateWidth80 {
    0% { width: 0; }
    50% { width: 0; }
    100%   { width: 80%; }
}

@keyframes updateWidth60 {
    0% { width: 0; }
    50% { width: 0; }
    100%   { width: 60%; }
}

@keyframes updateWidth40 {
    0% { width: 0; }
    50% { width: 0; }
    100%   { width: 40%; }
}

@keyframes updateWidth20 {
    0% { width: 0; }
    50% { width: 0; }
    100%   { width: 20%; }
}

/* @keyframes updateWidth75 {
    0% { width: 0; }
    50% { width: 0; }
    100%   { width: 75%; }
}

@keyframes updateWidth50 {
  0% { width: 0; }
  50% { width: 0; }
  100%   { width: 50%; }
}

@keyframes updateWidth25 {
  0% { width: 0; }
  50% { width: 0; }
  100%   { width: 25%; }
} */

.progress-bar {
  position: relative;
  height: 18px;
  width: 0;
}

.progress-100 .progress-bar  {
  background-color: red;
  animation: updateWidth100 ease-in-out 1000ms forwards;
}

.progress-80 .progress-bar {
  background-color: red;
  animation: updateWidth80 ease-in-out 1000ms forwards;
}

.progress-60 .progress-bar {
  background-color: orange;
  animation: updateWidth60 ease-in-out 1000ms forwards;
}

.progress-40 .progress-bar {
  background-color: orange;
  animation: updateWidth40 ease-in-out 1000ms forwards;
}

.progress-20 .progress-bar {
  background-color: yellow;
  animation: updateWidth20 ease-in-out 1000ms forwards;
}

/* .progress-75 .progress-bar {
  background-color: orange;
  animation: updateWidth75 ease-in-out 1000ms forwards;
}

.progress-50 .progress-bar {
  background-color: yellow;
  animation: updateWidth50 ease-in-out 1000ms forwards;
}

.progress-25 .progress-bar {
  background-color: green;
  animation: updateWidth25 ease-in-out 1000ms forwards;
} */

/* sidebar toggle button show */
/* #sidebar-toggle-span {
    display: inline-block;
} */

/* Sidebar navigation heading */
#sidebar h3 {
    font-family: 'Novacento Sans Wide', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
    color: #fff;
}

#sidebar .nav-header {
    margin: 1.5rem 0 1rem 1rem;
}

#shortcuts h3 {
    margin-top: 1.5rem;
}

#header-wrapper {
    border-bottom: none;
}

#header-wrapper .nav-search {
    text-align: left;
}

/* Make page index list more compact */
ul.page-index {
    margin-top: 0;
    margin-bottom: .25rem;
}

/* Footer */
.footline {
    margin-top: 5rem;
}

footer .flex-parent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}
/* Remove margin on image in footer */
footer .user1st-logo img {
    margin: 0 !important;
}
/* Left-align copyright for mobile */
footer .copyright {
    text-align: left;
}
/* Left-align copyright for desktop */
@media only screen and (min-width: 992px) {
    footer .copyright {
        text-align: center;
    }
    #body-inner {
        min-height: 850px;
    }
}

/* Remove bottom margin */
#body-inner {
    margin-bottom: 0;
}
/* Skip-to link */
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:visible;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#2053AB;
    left: 15px;
    top: auto;
    width: 80%;
    height: auto;
    overflow:auto;
    margin: 10px 10px;
    padding:5px;
    border-radius: 15px;
    border:4px solid white;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

table.issue-content-meta {
    width: auto;
    border: none;
    /* margin-top: 2.5em; */
}

table.issue-content-meta td {
    border: none;
}

footer {
    clear: both;
}
