#sidebar ul li.active > div > a {
  background: none; /* Disable white bg for active parent menu item */
  padding-left: 0; /* No left padding for active menu items */
}

#sidebar ul li div a {
  white-space: normal; /* No ellipsis for title overflow */
}

footer #tags {
  margin-top: auto;
}

.compliance-panel {
  width: 40%;
  float: right;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .compliance-panel {
      width: 100%;
      float: none;
    }
}
