{{ $header := print "_header." .Lang }}
	{{ range where .Site.Pages "Source.BaseFileName" $header }}
	{{ .Content }}
	{{else}}
  {{ if .Site.GetPage "page" "_header.md" }}
    {{(.Site.GetPage "page" "_header.md").Content}}
  {{else}}
    <a class="skip-main" href="#maincontent">Skip to main content</a>
    {{if .Site.Params.logoimg}}
      <a class="baselink" title="{{.Site.Title}}" href="{{.Site.BaseURL}}">
        <img src="{{.Site.BaseURL}}images/{{.Site.Params.logoimg}}"/>
      </a>
    {{else}}
      <a class="baselink" href="{{.Site.BaseURL}}">{{.Site.Title}}</a>
    {{end}}
  {{end}}
{{end}}
